body { 
  background-image: url("neo_galaxy_eyes_prime_dragon_wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

h1 {
  background-color: white;
  width: 750px;
  border: 5px solid black;
  padding: 5px;
  margin: 0px;
}

h2 {
  background-color: white;
  width: 500px;
  border: 5px solid black;
  padding: 5px;
  margin: 0px;
}

h3 {
  background-color: white;
  width: 400px;
  border: 5px solid black;
  padding: 5px;
  margin: 0px;
}

p {
  background-color: white;
  width: 1500px;
  border: 5px solid black;
  padding: 5px;
  margin: 0px;
}

a {
  background-color: white;
  border: 5px solid black;
  padding: 5px;
}
