body{
  background-image: url("master_duel_background_unstoppable_exodia.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  background-color: white;
  width: 900px;
  border: 5px solid black;
  padding: 15px;
  margin: 0px;
}
