body{
  background-image: url("master_duel_background_unstoppable_exodia.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  background-color: white;
  width: 850px;
  border: 5px solid black;
  padding: 5px;
  margin: 0px;
}

h2 {
  background-color: white;
  width: 1100px;
  border: 5px solid black;
  padding: 5px;
  margin: 0px;
}

h3 {
  background-color: white;
  width: 500px;
  border: 5px solid black;
  padding: 5px;
  margin: 0px;
}

p{
  background-color: white;
  width: 1250px;
  border: 5px solid black;
  padding: 15px;
  margin: 0px;
}

img {
  border: 5px solid black;
}

a {
  background-color: white;
  border: 5px solid black;
  padding: 5px;
}
