* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans serif;
}

body {
  min-height: 100vh;
  background: white;
  color: white;
  background-size: cover;
  background-position: cover;
}

.side-bar{
  background: #1b1a1b;
  width: 250px;
  height: 1000vh;
  position: fixed;
  top: 0;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}
