* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans serif;
}

body {
  min-height: 100vh;
  background: white;
  color: white;
  background-size: cover;
  background-position: cover;
}

.side-bar{
  background: #1b1a1b;
  width: 250px;
  left: -250px;
  height: 1000vh;
  position: fixed;
  top: 0;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

/*Contents within the title section of the sidebar*/
header {
  background: #33363a;
}

header img{
  width: 100px;
  margin: 15px;
  margin-left: 70px;
  border-radius: 50%;
  border: 3px solid #1b1a1b;    /*border color of the circle surrounding the image*/
}

.close-btn{
  position: absolute;
  color: #fff;
  font-size: 23px;
  right: 0px;
  margin: 15px;
  cursor: pointer;
}

header h1{
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 13px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

menu {
  width: 100%;
  margin-top: 30px;
  
}

.menu .item{
  position: relative;
  cursor: pointer;
  
}

/*Contents of each menu item*/
.menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;  
}

.item i {
  margin-right: 15px;
}

/*Contents of the arrow bar of a menu item to make a sub menu appear*/
.item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

/*Contents of the sub menus of a menu item*/
.item .sub-menu {
  background: #267267;
  display: none;
}
